@import "../../components/Common/variables";

$mqs-red: #b0373b;

.layout {
    background: #f9f9f9;
}

.mqsCover {
    width: 100%;
    height: 300px;
    background: $mqs-red;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $white;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            margin: 0;
            font-size: 100px;
            display: flex;
            align-items: center;
            height: 100px;
        }

        div {
            font-size: 25px;
        }
    }
}

.mqsResult {
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: $border-radius;

    strong {
        margin-left: 5px;
    }
}

.mqsDemoButton {
    outline: none;
    padding: 15px;
    margin: 15px 5px 0 0;
    border-radius: $border-radius;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid $button-border-color;
    background-color: $button-background-color;
    color: $button-text-color;
}
