@import "../Common/media_queries";
@import '../Common/variables';

$aside-cta-text-color: $white;

.asideAds {
    background: $dark-blue;
    border-radius: $border-radius;
    margin-bottom: 5px;

    @include min-device("desktop") {
        max-height: 170px;
    }

    img {
        border-radius: $border-radius $border-radius 0 0;
        position: relative;
        width: 100%;
    }
}

.adsText {
    position: relative;
    font-size: $small-text-font-size;
    line-height: 14px;
    color: $aside-cta-text-color;
    padding: 5px 10px 10px;
    margin: 0;
}
