$aside-cta-text-color: $white;

.aside {
    position: sticky;
    top: 60px;
    padding-bottom: 10px;

    @include min-device("desktop") {
        height: 300px;
    }

    &__ads {
        background: $dark-blue;
        border-radius: $border-radius;

        @include min-device("desktop") {
            max-height: 170px;
        }

        img {
            border-radius: $border-radius $border-radius 0 0;
            position: relative;
            width: 100%;
        }

        p.sponsoredText {
            position: relative;
            font-size: $small-text-font-size;
            line-height: 14px;
            color: $aside-cta-text-color;
            padding: 5px 10px 10px;
            margin: 0;
        }
    }

    &__series {
        display: flex;
        margin: 0 -5px;
        flex-wrap: wrap;

        @include min-device("tablet") {
            margin: 0;
        }
    }

    &__title {
        margin: 15px 0 0;
    }
}
