@import "../Common/media_queries";

.aside {
    position: sticky;
    top: 60px;
    padding-bottom: 10px;
    display: table;
    max-height: 500px;

    @include min-device("tablet") {
        height: 300px;
    }
}
