@import "../Common/media_queries";

.aside {
    position: sticky;
    top: 60px;
    padding-bottom: 10px;
    max-height: 500px;
    max-width: 100%;

    @include min-device("tablet") {
        height: 300px;
        display: table;
    }
}
