@import "~components/Common/media_queries";

.aboutMe {
    padding: 15px;

    @include min-device("desktop") {
        padding: 0;
    }

    h2 {
        width: 100%;
    }

    ul {
        padding-left: 20px;
    }
}

.layout {
    background: #f9f9f9;
}

