@import "../components/Common/media_queries";
@import "../components/Common/variables";

.aboutMe {
    padding: 15px;

    @include min-device("desktop") {
        padding: 0;
    }

    h2 {
        width: 100%;
    }

    ul {
        padding-left: 20px;
    }
}
