@import "../components/Common/variables";
@import "../components/Common/media_queries";

$relevant-flag-background: $yellow;
$cover-background-color: $dark-blue;
$home-tag-text-color: $white;
$home-tags-background-color: #13161b;

.homeCover {
    position: relative;
    background-color: $cover-background-color;
    height: auto;
    background-size: cover;
    background-image: radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.75), #100e17),
    url("/images/home-cover.png");
    background-position: bottom center;
    background-repeat: no-repeat;

    @include min-device("desktop") {
        height: 500px;
    }

    h1 {
        max-width: 750px;
        margin: 0 0 0;
        font-weight: bold;

        a {
            color: $cta-title-color;

            &:hover {
                color: $text-link-active-color;
            }
        }

        @include min-device("tablet") {
            font-size: 42px;
            margin: 0;
        }
    }
}

.homeCoverContainer {
    display: grid;
    z-index: 1;
    grid-template-columns: 1fr;
    padding: 10px;

    @include min-device("desktop") {
        grid-template-columns: 1fr 350px;
        grid-gap: 3rem;
    }
}

.homeCoverCtaArticle {
    align-self: center;
    position: relative;
    margin-top: 10px;

    @include min-device("desktop") {
        margin-top: -50px;
    }

}

.homeCoverCtabuttons {
    position: relative;
    right: 0;
    flex-wrap: wrap;
}

.homeCoverCtaRelevantFlag {
    background: $relevant-flag-background;
    display: inline-block;
    font-size: $small-text-font-size;
    padding: 2px 10px;
    border-radius: $soft-border-radius;
}

.homeCoverCtaDate,
.homeCoverCtaReadingTime {
    background: $home-tags-background-color;
    color: $home-tag-text-color;
    border-radius: $soft-border-radius;
    display: inline-block;
    font-size: $small-text-font-size;
    padding: 2px 10px;
    margin-left: 5px;
}

.homeCoverCtaSummary {
    color: $cta-text-color;
    font-size: $medium-font-size;
    line-height: 24px;
    margin-bottom: 0;

    @include min-device("desktop") {
        font-size: $text-font-size;
        line-height: $text-line-height;
    }

    a {
        padding-left: 5px;
    }
}

.homeCoverPromotedAd {
    width: 98%;
    height: 190px;
    align-self: center;
    border-radius: $border-radius;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 5px solid #0d0f13;
    max-width: 470px;
    background: $home-tags-background-color;
    margin: 50px auto 70px;

    @include min-device("desktop") {
        width: 100%;
        margin: 25px auto 70px;
    }

    &:before {
        content: "promoted";
        position: absolute;
        bottom: 0px;
        right: 0;
        background: $tag-background-color;
        color: $home-tag-text-color;
        font-size: $small-text-font-size;
        padding: 5px;
        border-radius: $border-radius;
        margin: 5px;
    }

    img {
        border-radius: $border-radius;
        width: 100%;
        position: relative;
        display: block;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    }

    p {
        font-size: $small-text-font-size;
        line-height: 14px;
        padding: 0px 10px;
        color: $cta-text-color;
    }
}

.homeArticleSeries {
    font-size: $small-text-font-size;
    text-transform: uppercase;
    margin-right: 5px;
    display: inline-block;
    border-radius: $soft-border-radius;
    color: $tag-text-color;
    padding: 5px;
    background-color: $tag-background-color;
    border-radius: 10px;
    border: 2px solid $yellow;

    a {
        color: $yellow;
    }
}

.homeContainer {
    margin-top: -50px;
    position: relative;
    padding: 10px;
    background: $background-color;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    z-index: 1;

    @include min-device("tablet") {
        grid-template-columns: 1fr  300px;
    }
}

