@import "../components/Common/variables";
@import "../components/Common/media_queries";

$relevant-flag-background: $yellow;
$cover-background-color: $dark-blue;

.home {
    $p: &;

    &__cta-article {
        align-self: center;
        position: relative;
        margin-top: 10px;

        @include min-device("desktop") {
            margin-top: -50px;
        }

        .article-card__buttons {
            position: relative;
            right: 0;
        }
    }

    &__relevant-flag {
        background: $relevant-flag-background;
        display: inline-block;
        font-size: $small-text-font-size;
        padding: 2px 10px;
        border-radius: $soft-border-radius;
    }

    &__date,
    &__reading-time {
        background: $background-color;
        color: $tag-text-color;
        border-radius: $soft-border-radius;
        display: inline-block;
        font-size: $small-text-font-size;
        padding: 2px 10px;
        margin-left: 5px;
    }

    &__cta-summary {
        color: $cta-text-color;
        font-size: $medium-font-size;
        line-height: 24px;
        margin-bottom: 0;

        @include min-device("desktop") {
            font-size: $text-font-size;
            line-height: $text-line-height;
        }

        a {
            padding-left: 5px;
        }
    }

    &__cover {
        position: relative;
        background-size: cover;
        background: $cover-background-color;
        height: auto;

        @include min-device("desktop") {
            height: 500px;
        }

        &-container {
            display: grid;
            z-index: 1;
            grid-template-columns: 1fr;
            padding: 10px;

            @include min-device("desktop") {
                grid-template-columns: 1fr 350px;
                grid-gap: 3rem;
            }
        }

        h1 {
            font-weight: 200;
            max-width: 750px;
            margin: 0 0 0;
            font-weight: bold;

            a {
                color: $cta-title-color;

                &:hover {
                    color: $text-link-active-color;
                }
            }

            @include min-device("tablet") {
                font-size: 42px;
                margin: 0;
            }
        }
    }

    &__container {
        margin-top: -50px;
        position: relative;
        padding: 10px;
        background: $background-color;
        border-radius: $border-radius;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include min-device("tablet") {
            grid-template-columns: 1fr  300px;
        }
    }

    &__ads {
        position: sticky;
        background: $dark-blue;
        height: 200px;
        top: 70px;
        border-radius: $border-radius;

        img {
            border-radius: $border-radius;
            position: absolute;
            margin: -5px 0 0 -5px;
            width: 100%;
        }
    }
}

.hero-promoted-ad {
    width: 98%;
    height: 190px;
    align-self: center;
    border-radius: $border-radius;
    background-size: cover;
    background-position: center;
    position: relative;
    border-right: 5px solid #0d0f13;
    border-bottom: 5px solid #0d0f13;
    max-width: 470px;
    background: #13161b;
    margin: 50px auto 70px;

    @include min-device("desktop") {
        width: 100%;
        margin: 25px auto 70px;
    }

    &:before {
        content: "promoted";
        position: absolute;
        bottom: 0px;
        right: 0;
        background: $tag-background-color;
        color: $tag-text-color;
        font-size: $small-text-font-size;
        padding: 5px;
        border-radius: $border-radius;
        margin: 5px;
    }

    img {
        border-radius: $border-radius;
        width: 100%;
        position: relative;
        display: block;
        transform: translate(-10px, -10px);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    }

    p {
        font-size: $small-text-font-size;
        line-height: 14px;
        padding: 0px 10px;
        color: $cta-text-color;
    }
}
