@import "../components/Common/variables";

.series {
    &__card {
        width: 100%;
        background: $series-card-background-color;
        background-size: cover;
        background-position: center;
        border-radius: $border-radius;
        height: 200px;
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        transition: 0.1s transform linear;

        &:last-child {
            margin-bottom: 10px;
        }

        &:hover {
            transform: scale(1.02);
        }

        &--aside {
            height: 80px;
            overflow: hidden;
            flex: 1 1 calc(50% - 10px);
            margin: 5px;

            @include min-device("tablet") {
                flex: 1 1 auto;
                height: 60px;
                margin: 5px 0;
            }

            &:before {
                content: attr(data-name);
                background-color: rgba(0, 0, 0, .5);
                color: $white;
                top: 0;
                text-align: center;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: .15s ease-in-out transform;
                font-size: $text-font-size;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
              &:before {
                transform: translateX(0);
              }
            }
        }
    }
}
