@import "../Common/variables";
@import "../Common/media_queries";

.header {
    background: #fff;
    height: $header-height;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;

    &__mobile-menu {
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;

        @include min-device("desktop") {
            display: none;
        }

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: $soft-border-radius;
            background: $text-color;
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;

        svg {
            width: 230px;
            height: auto;
        }
    }

    nav {
        height: 100%;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: $header-height;
        background: $header-background-color;
        flex-direction: column;
        z-index: 1;

        @include max-device("desktop") {
            transform: translateX(-100%);
            transition: 0.2s ease-in-out;

            &.open {
                transform: translateX(0);
            }
        }

        @include min-device("desktop") {
            flex-direction: row;
            position: relative;
            top: 0;
            justify-content: flex-end;
        }

        a {
            color: $text-color;
            padding: 5px;
            font-size: 24px;
            margin: 15px 0;

            @include min-device("desktop") {
                font-size: initial;

                &:not(:last-child) {
                    margin: 0 15px;
                }
            }

            &:hover,
            &.link--active {
                background: $menu-active-background-color;
                color: $menu-active-text-color;
                border-radius: $border-radius;

                svg path {
                    fill: $menu-active-text-color;
                }
            }
        }

        .github-link {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
            }
        }
    }
}
