@import "../Common/variables";
@import "../Common/media_queries";

.article-card {
    padding: 5px;
    display: flex;
    flex: 1 1 378px;

    @include min-device("tablet") {
        max-width: 50%;
    }

    a {
        flex: 1;
    }

    &__image {
        height: 120px;
        background-size: cover;
        background-position: center;
    }

    &__text-wrapper {
        padding: 5px;
    }

    h2 {
        margin: 0;
        font-weight: 200;
        color: $dark-blue;
        font-size: 20px;

        @include min-device("desktop") {
            font-size: 24px;
        }
    }
}
