@import "../Common/variables";
@import "../Common/media_queries";

.article-card {
    padding: 5px;
    display: flex;
    flex: 1 1 378px;

    @include min-device("tablet") {
        max-width: 50%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    a {
        flex: 1;
        background-color: $article-card-background-color;
        border-radius: $soft-border-radius;
        overflow: hidden;
        box-shadow: 0 1px 3px $article-card-shadow;
    }

    &__image {
        height: 120px;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    &__text-wrapper {
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex: 1;
        align-items: center;
    }

    h2 {
        margin: 0;
        font-weight: 200;
        color: $article-card-title-color;
        font-size: 20px;
        transition: 0.1s color linear;

        @include min-device("desktop") {
            font-size: 21px;
        }
    }

    &:hover {
        h2 {
            color: $text-link-color;
        }
    }

    &__info {
        position: absolute;
        left: 5px;
        top: 5px;

        span {
            padding: 5px;
            border-radius: $soft-border-radius;
            background: rgba($black, 0.6);
            color: $white;
            font-size: $small-text-font-size;

            &:first-child {
                margin-right: 5px;
            }
        }
    }
}
