@import "../Common/variables";

.footer {
    height: $footer-height;
    background: $footer-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
        color: $footer-text-color;
    }
}
