@import "../Common/variables";

.footer {
    height: 100px;
    background: $dark-blue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
