@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $text-font-size;
    font-family: $text-font-family;
    height: 100%;
}

p,
li {
    line-height: $text-line-height;
    color: $text-color;
}

a {
    text-decoration: none;
    color: $text-link-color;

    &:hover {
        color: $text-link-active-color;
    }
}

h2,
h3 {
    margin: 1em 0 0.2em;
}

input,
button {
    font-family: $text-font-family;
    font-size: $input-font-size;
}

input {
    font-size: $input-font-size;
}

.main {
    min-height: 100vh;
    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;
    padding-top: $header-height;
}
