/*--- Color variables ---*/
$dark-blue: #22262e;
$blue: #00becc;
$soft-blue: rgba($blue, 0.3);

$yellow: #ffb300;
$soft-yellow: #fff7b5;
$dark-yellow: #805a00;

$white: #fff;
$black: rgba(0, 0, 0, 1);

$light-grey: #f9f9f9;
$grey: #ccc;
$dark-grey: #545454;

/*--- Functional variables ---*/
$background-color: #343944;
$container-background-color: $white;
$border-radius: 10px;
$soft-border-radius: 5px;
$success-green: #00cc81;
$error-red: #de4338;

/* Text */
$text-line-height: 30px;
$text-font-size: 18px;
$medium-font-size: 14px;
$small-text-font-size: 12px;
$text-font-family: "Raleway", sans-serif;
$text-color: $dark-grey;
$text-highlighted-color: $soft-yellow;
$text-link-color: $blue;
$text-link-active-color: $yellow;
$cta-text-color: $grey;
$cta-text-background: $yellow;
$cta-text-font-size: 32px;

/* header */
$header-height: 50px;
$header-background-color: #13161b;
$menu-active-background-color: $yellow;
$menu-active-text-color: $header-background-color;

/* Footer */
$footer-background-color: $dark-blue;
$footer-text-color: $white;
$footer-height: 100px;

$series-card-background-color: $dark-blue;

/* Buttons */
$button-background-color: $yellow;
$button-text-color: $dark-blue;
$button-border-color: $dark-yellow;
$button-active-background-color: $blue;
$button-active-text-color: $white;
$button-active-border-color: $dark-blue;
$button-disabled-background-color: $grey;
$button-disabled-border-color: $dark-grey;

/* Forms */
$input-font-size: 16px;

/* Table */
$table-head-background-color: $dark-blue;
$table-head-text-color: $white;
$table-even-background: $light-grey;

/* Share icons*/
$share-icons-color: $yellow;
$share-icons-active-color: $blue;

/* Code Boxes */
$code-box-header-background-color: $soft-blue;
$code-box-header-text-color: $dark-blue;
$code-box-background-color: $white;

/* Email Subscription box */
$email-box-background-color: $blue;

/* Tag style */
$tag-background-color: $dark-blue;
$tag-text-color: $white;
