/* Primary colors */
$blue: #00becc;
$soft-blue: rgba($blue, 0.3);

/* Darks colors */
$dark-blue: #22262e;
$yellow: #ffba1e;

/* Neutral colors*/
$white: #fff;
$black: rgba(0, 0, 0, 1);
$light-grey: #f9f9f9;

/* Text */
$text-black: rgba(0, 0, 0, 0.75);
$yellow-mark: #fff7b5;

/* header */
$header-height: 50px;
