/*--- Color variables ---*/
$dark-blue: #22262e;
$blue: #00becc;
$soft-blue: rgba($blue, 0.3);

$yellow: #ffb300;
$soft-yellow: #fff7b5;

$white: #fff;
$black: rgba(0, 0, 0, 1);

$light-grey: #f9f9f9;
$grey: #ccc;
$dark-grey: rgba($black, 0.75);

/*--- Functional variables ---*/
$container-background-color: $white;
$border-radius: 10px;
$soft-border-radius: 5px;
$success-green: #00cc81;
$error-red: #de4338;

/* Text */
$text-line-height: 30px;
$text-font-size: 18px;
$small-text-font-size: 12px;
$text-font-family: "Raleway", sans-serif;
$text-color: $dark-grey;
$text-highlighted-color: $soft-yellow;
$text-link-color: $blue;
$text-link-active-color: $yellow;
$cta-text-color: $white;

/* header */
$header-height: 50px;
$header-background-color: $white;
$menu-active-background-color: $dark-blue;
$menu-active-text-color: $white;

/* Footer */
$footer-background-color: $dark-blue;
$footer-text-color: $white;
$footer-height: 100px;

/* Cards */
$article-card-title-color: $dark-blue;
$article-card-background-color: $dark-blue;
$series-card-background-color: $dark-blue;

/* Buttons */
$button-background-color: $yellow;
$button-text-color: $dark-blue;
$button-border-color: $white;
$button-active-background-color: $blue;
$button-active-text-color: $white;
$button-active-border-color: $white;
$button-disabled-background-color: $grey;

/* Forms */
$input-font-size: 16px;

/* Table */
$table-head-background-color: $dark-blue;
$table-head-text-color: $white;
$table-even-background: $light-grey;

/* Share icons*/
$share-icons-color: $yellow;
$share-icons-active-color: $blue;

/* Code Boxes */
$code-box-header-background-color: $soft-blue;
$code-box-header-text-color: $dark-blue;
$code-box-background-color: $white;

/* Email Subscription box */
$email-box-background-color: $blue;

/* Tag style */
$tag-background-color: $dark-blue;
$tag-text-color: $white;
